
<div>
    
    <mat-radio-group *ngIf="telecommand?.type?.engType=='boolean'">
        <mat-radio-button value="0"> 0 </mat-radio-button>
        <mat-radio-button value="1"> 1 </mat-radio-button>
    </mat-radio-group>
    <mat-icon> satellite_alt</mat-icon> 
    <mat-form-field appearance="fill" *ngIf="telecommand?.type?.engType!='boolean'">
        <mat-label>{{ telecommand?.name }} </mat-label> 
       
        <!-- <p> {{ telecommand?.type?.engType}} </p> -->
        <input matInput *ngIf="telecommand?.type?.engType=='integer'" type="text" >
        <mat-select *ngIf="telecommand?.type?.engType=='enumeration'" >
            <mat-option *ngFor="let option of options" value="option" > {{option }} </mat-option>
        </mat-select>
        
        

        
    </mat-form-field>
    <!-- <p *ngFor="let tele of telecommand?.type?.engType"> {{tele}}  </p> -->
</div>