<!-- <p>telecommands works!</p> -->
<!-- <div>
    <app-telecommand-item *ngFor="let telecommand of telecommands" [telecommand]="telecommand" ></app-telecommand-item>
</div> -->





  <!-- <table mat-table [dataSource]="commands">  says that the array is 0 

    <ng-containter matColumnDef="telecommands"> 
        <th mat-header-cell *matHeaderCellDef> Telecommands. </th>
        <td mat-cell *matCellDef="let command"> {{command.name}} </td>
    </ng-containter>

    <tr mat-header-row *matHeaderRowDef="displayedCol"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: displayedCol"></tr>

</table>   -->


<!-- <div>
    <p *ngFor="let command of commands"> {{command.name }}  </p>
</div> -->
<!-- 
  <table> 
      <td> {{commands[0].name}}  </td> 
  </table> -->

    <!-- <p *ngFor="let titles of titles"> {{ titles }} </p> 
    <p *ngFor="let dataSourse of data"> {{ data }} </p>  -->
<mat-stepper  linear #stepper>
    <mat-step >
        <ng-template matStepLabel>Select a Telecommand</ng-template>
        <table mat-table [dataSource]="commands"> <!-- says that the array is 0 -->

            <ng-containter matColumnDef="telecommands"> 
                <th mat-header-cell *matHeaderCellDef> Telecommands. </th>
                <td mat-cell *matCellDef="let command" (click)="onClick(command.name)"> {{command.name}} </td>
            </ng-containter>
        
            <tr mat-header-row *matHeaderRowDef="displayedCol"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: displayedCol"></tr>
        
        </table>  
        <div>
            
            <button mat-button matStepperNext>Next <mat-icon>redo</mat-icon> </button>
          </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Define the arguments</ng-template>
        <p>  {{ commands[number()].name }} </p>
        <h1>Arguments </h1>  
        <app-telecommand-item *ngFor="let telecommand of telecommands[number()]" [telecommand]="telecommand"></app-telecommand-item>
        <mat-icon> chat</mat-icon><mat-form-field class="second" appearance="fill">
            <mat-label>Comments</mat-label>
          <textarea matInput placeholder="Type any additional comments"></textarea>
        </mat-form-field>
        <div>
            <button mat-button matStepperPrevious><mat-icon>undo</mat-icon> Back</button>
            <button mat-button matStepperNext>Next <mat-icon>redo</mat-icon></button>
          </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>send the Telecommand</ng-template>
        <p> {{ commands[number()].name }}</p>
        <button mat-button matStepperPrevious><mat-icon>undo</mat-icon> Back</button>
        <button mat-button>
      
            <mat-icon>send </mat-icon> Send
        </button>
    </mat-step>
</mat-stepper>
<!-- <div> 
    <app-telecommand-item *ngFor="let telecommand of telecommands[2]" [telecommand]="telecommand"></app-telecommand-item>
</div>
<div>
    <mat-form-field class="second" appearance="fill">
        <mat-label>Comments</mat-label>
      <textarea matInput placeholder="Type any additional comments"></textarea>
    </mat-form-field>
    
</div> -->

<!-- <button mat-button>
      
    <mat-icon>send </mat-icon> Send
</button>  -->
